* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main{
  width: 960px;
  margin:50px auto;
}

.blog{
  float:left;
  width:300px;
  margin-right:30px;
  padding:10px;
  position:relative;
  border: 1px solid #eee
}

.blog:last-child{
  margin-right: 0;
}



.blog-image1{
  height: 150px;
  width: 280px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}


.blog-image2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.blog-image3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.blog-mark{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #fff;
  padding: 3px;
}

.blog-headline{
  margin: 15px 0 5px;
}

@media screen and (min-width:767px) {
  main{ 
    width: 100%;
  } }
