* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.main{
  width: 960px;
  margin:50px auto;
}

.margin{
  margin: 0 auto;
  width: 100%;
}

.blog{
  float:left;
  width: 250px;
  margin-top:50px;
  margin-right:0px;
  margin-left:0px;
  margin-bottom:50px;
  padding:10px;
  position:relative;
  border: 1px solid #eee
}

.blog:last-child{
  margin-right: 0;

}

.blog-image1{
  height: 220px;
  /* width: 280px; */
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}


.blog-image2{
  height: 220px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.blog-image3{
  height: 220px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.blog-mark{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #fff;
  padding: 3px;
}


.blog-headline{
  margin: 15px 0 10px;
  font-weight: bold
}

@media screen and (max-width:768px) {

  .blog {
   float: none;
   width: 90%;
   margin-right: auto;
   margin-left: auto;
  
  }
   
  main :nth-child(1){
    /* margin-top: 50px; */
    
  }
  
  .blog :nth-child(2){
    margin-bottom: 20px;
  
  }

  .blog:last-child{
    margin-right: auto;
    margin-bottom: 50px;
  }
  
  .blog-image1{
    height: 400px;
    /* width: 280px; */
    background-image: url(img/flow01.png);
    background-size: cover;
    background-position: bottom;
  }
  
  
  .blog-image2{
    height: 400px;
    background-image: url(img/flow02.png);
    background-size: cover;
    background-position: bottom;
  }
  
  .blog-image3{
    height: 400px;
   
    background-size: cover;
    background-position: bottom;
  }

}




